
.main-body {
    display: flex;
    justify-content: center;
}

.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 55px;
    gap: 50px 40px;
    padding-left: 40px;
    padding-right: 40px;
}
@media (max-width: 750px) {
    .item-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px) {
    .item-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .item-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.item {
    display: grid;
    grid-auto-columns: 180px 1fr;
}

.item-photo {
    display: flex;
    position: relative;
    height: 180px;
    border-radius: 10px;
    color: #7e6a3f;
    box-shadow: rgba(126, 106, 63, 0.1) 0px 4px 6px -1px, rgba(126, 106, 63, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    overflow: hidden;
}

.item-photo:hover {
    box-shadow: rgba(126, 106, 63, 0.1) 0px 20px 25px -5px, rgba(126, 106, 63, 0.04) 0px 10px 10px -5px;
}

.letter {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.info1 {
    grid-area: letter;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #d24787;
}
.info2 {
    grid-area: word;
    border-bottom: 1px solid #7e6a3f;
}
.info3 {
    grid-area: romaji;
    border-bottom: 1px solid #7e6a3f;
}
.info4 {
    padding: 5px 0px 5px 10px;
    grid-area: english;
}

.info2, .info3, .info4 {
    padding: 5px 0px 5px 10px;
    border-left: 1px solid #7e6a3f;
}

.info-box {
    font-size: 14px;
    margin-top: 15px;
    width: 180px;
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    grid-template-areas: 
    'letter word'
    'letter romaji'
    'letter english';
    background-color: #edd7d5;
    border: 1px solid  #7e6a3f;
    border-radius: 8px;
}

.letter-highlight {
    font-weight: 700;
    color: #d24787;
}

.section-break {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-top: 70px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}