body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', sans-serif,
    monospace;
}

.e-card {
  margin: 10px;
  padding: 0px
}

.e-card-image {
  width: 350px;
  height: auto;
}

.e-card-info {
  min-height: 100px;
  margin-top: 10px
}

.e-card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px
}

.e-card-subtitle {
  font-size: 16px;
  margin: 0px
}
