<!DOCTYPE html>
<html>
    {% include preamble.html title=page.title %}
    <body>
        <!--Navigation-->
        {% include site_header.html %}
        <!-- Alphabet Start -->
        <div class="main-content">
            <div class="page-title">
                <h1>My Blog</h1>
            </div>
        <!--Content-->
        <div class="blog-container">
            <div class="about-tab">
            
                <div class="top-section">
                    <div class="top-title">blog.md</div>
                </div>
                <div class="mid-section">
                    <div class="url">https://www.emillionideas.com/blog.md/</div>
                </div>
                <div class="post-section">
                    {% for post in site.posts %}
                    <div>{% include post_summary.html title=post.title date=post.date-2 excerpt=post.excerpt thumbnail=post.thumbnail %}</div>
                    {% endfor %}
                </div>
                </div> 
        </div>
        <!--End of Content-->
        {% include footer.html %}
    </body>
</html>