<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My New Site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/general.css" />
    <link rel="stylesheet" href="assets/header.css" />
    <link rel="stylesheet" href="assets/body.css" />
  </head>
  <body>
    <!--Top Navigation-->
    <header class="header">
      <div class="left-section">
        <img class="site-logo" src="assets/site-logo.png">
      </div>
      <div class="right-section">
        <a href="#">Hiragana</a>
        <a href="#">Katakana</a>
        <a href="#">Kanji</a>
        <button>About me</button>
      </div>
    </header>
    <section>
      <div class="heading-1">ひらがな</div>
      <div class="description">Hiragana</div>
    </section>
    <!--Main Body-->
    <section class="main-body">
      <div class="item-grid">
        <!--Row 1 (sample)-->
        <div class="item">
          <div class="item-photo">
            <img src="assets/art/candy.png">
          </div>
          <div class="info-box">
            <div class="info1">あ</div>
            <div class="info2">あめ</div>
            <div class="info3">ame</div>
            <div class="info4">candy</div>
        </div>
      </div>
 <div class="item">
  <div class="item-photo">
    <span class="letter">い</span>
  </div>
  <div class="info-box">
    <div class="info1">い</div>
    <div class="info2">いぬ</div>
    <div class="info3">inu</div>
    <div class="info4">dog</div>
  </div>
</div>

<div class="item">
  <div class="item-photo">
    <span class="letter">う</span>
  </div>
  <div class="info-box">
    <div class="info1">あ</div>
    <div class="info2"><span class="letter-highlight">あ</span>め</div>
    <div class="info3">ame</div>
    <div class="info4">candy</div>
  </div>
</div>

<div class="item">
  <div class="item-photo">
    <span class="letter">え</span>
  </div>
  <div class="info-box">
    <div class="info1">あ</div>
    <div class="info2"><span class="letter-highlight">あ</span>め</div>
    <div class="info3">ame</div>
    <div class="info4">candy</div>
</div>
</div>

<div class="item">
  <div class="item-photo">
    <img src="assets/art/lucky-charm.png">
  </div>
  <div class="info-box">
    <div class="info1">お</div>
    <div class="info2">おまもり</div>
    <div class="info3">omamori</div>
    <div class="info4">lucky charm</div>
</div>
</div>
      <!--Row 2-->
      <div class="item">
        <div class="item-photo">
          <span class="letter">か</span>
        </div>

        <div class="info-box">
          <div class="info1">あ</div>
          <div class="info2">あめ</div>
          <div class="info3">ame</div>
          <div class="info4">candy</div>
      </div>
    </div>
<div class="item">
<div class="item-photo">
  <span class="letter">き</span>
</div>
<div class="info-box">
  <div class="info1">い</div>
  <div class="info2">いぬ</div>
  <div class="info3">inu</div>
  <div class="info4">dog</div>
</div>
</div>

<div class="item">
<div class="item-photo">
  <span class="letter">く</span>
</div>
<div class="info-box">
  <div class="info1">あ</div>
  <div class="info2"><span class="letter-highlight">あ</span>め</div>
  <div class="info3">ame</div>
  <div class="info4">candy</div>
</div>
</div>

<div class="item">
<div class="item-photo">
  <span class="letter">け</span>
</div>
<div class="info-box">
  <div class="info1">あ</div>
  <div class="info2"><span class="letter-highlight">あ</span>め</div>
  <div class="info3">ame</div>
  <div class="info4">candy</div>
</div>
</div>

<div class="item">
<div class="item-photo">
  <span class="letter">こ</span>
</div>
<div class="info-box">
  <div class="info1">お</div>
  <div class="info2">おまもり</div>
  <div class="info3">omakiri</div>
  <div class="info4">lucky charm</div>
</div>
</div>
        <!--Row 3-->
        <div class="item">
          <div class="item-photo">
            <span class="letter">か</span>
          </div>
  
          <div class="info-box">
            <div class="info1">あ</div>
            <div class="info2">あめ</div>
            <div class="info3">ame</div>
            <div class="info4">candy</div>
        </div>
      </div>
  <div class="item">
  <div class="item-photo">
    <span class="letter">き</span>
  </div>
  <div class="info-box">
    <div class="info1">い</div>
    <div class="info2">いぬ</div>
    <div class="info3">inu</div>
    <div class="info4">dog</div>
  </div>
  </div>
  
  <div class="item">
  <div class="item-photo">
    <span class="letter">く</span>
  </div>
  <div class="info-box">
    <div class="info1">あ</div>
    <div class="info2"><span class="letter-highlight">あ</span>め</div>
    <div class="info3">ame</div>
    <div class="info4">candy</div>
  </div>
  </div>
  
  <div class="item">
  <div class="item-photo">
    <img src="assets/art/cicada.png">
  </div>
  <div class="info-box">
    <div class="info1">せ</div>
    <div class="info2"><span class="letter-highlight">せ</span>み</div>
    <div class="info3">semi</div>
    <div class="info4">cicada</div>
  </div>
  </div>
  
  <div class="item">
  <div class="item-photo">
    <span class="letter">こ</span>
  </div>
  <div class="info-box">
    <div class="info1">お</div>
    <div class="info2">おまもり</div>
    <div class="info3">omakiri</div>
    <div class="info4">lucky charm</div>
  </div>
  </div>
        <!--Row 4-->
      </div>
 </section>
 <section style="
 align-items: center;
 justify-content: center;
 text-align: center;
 display: flex;"
>
  <!--Dakuon-->
<div class="section-break">
  <hr width="100%" color="#7e6a3f" size="1px">
  <div class="section-title">Dakuon</div>
  <hr width="100%" color="#7e6a3f" size="1px">
</div>
 </section>
  </body>
</html>