body {
    background-color: #ffe400;
    margin: 0px;
  }
  .head {
    background-color: #ff652f;  
    text-align: center;
  }
  .title-row {
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
  }
  .instructions-title {
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
  color: #272727;
  }

  .intructions-row {
    margin: 0 auto;
    width: 400px;
    height: 210px;
  }
  .instructions-number {
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: #ffe400;
    background-color: #eb6536;
  }
  .instructions-text {
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #272727;
  }
  .door-row {
    text-align: center;
  }
  .door-frame {
    cursor: pointer;
  padding: 10px;
  }
  .start-row {
    margin: auto;
    width: 120px;
    height: 43px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #eb6536;
    padding-top: 18px;
    font-size: 18px;
    text-align: center;
    color: #ffe400;
    margin-bottom: 21px;
    cursor: pointer;
  }
#star {
  size: 0.5px;
  padding-top: 2px;
}